<h1>Sessions#create Hubert Test</h1>
<p>Find me in app/views/sessions/create.html.erb</p>
<h3>Authorized</h3>
      <p>Shop: <%=@shop_session.inspect %></p>
<p>Shop21: request.env['omniauth.auth'].uid</p>
      <p>Token: <%=@token%></p>

<p>session = ShopifyAPI::Session.new("SHOP_NAME.myshopify.com", token)</p>
<p>Session: <%=@session%></p>

<p>Current shop: <%=@shop%></p>
<p>Current shopid: <%=@shop.id%></p>
<p>Current shop: <%=@shop.name%></p>

<p>The checkout: <%=@checkout%></p>

<p>The abandoned checkout url: <%=@checkout.abandoned_checkout_url%></p>

<p>The checkout count: <%=@checkout_count%></p>


<p>Product: <%=@product%></p>